:root{
    --white:#ffffff;
    --background:#ededed;
    --primary: #3483FA;
    --secondary: #D9E7FA;
    --text: #333333;
    --secondary-text: #828282;
    --red: #f33434;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
}
.container{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    margin: 30px auto;
    border-radius: 15px;
}
.inpt-text{
    width: 60%;
}
.container h3{
    margin: 15px;
}
.container select{
    margin-bottom: 10px;
}

#results{
    color: var(--red);
}

#chart{
    width: 600px;
    height: 300px;
}